body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: light_gray;
}

h1 {
    margin-top: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.box {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/* CSS */
.box ul {
    list-style: none;
    padding: 0;
    margin-top: 0; /* Adjust this margin to match the other buttons */
}

ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
input[type="text"] {
    padding: 10px;
    width: calc(100% - 24px);
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button, .download-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border: none;
    background-color: ##515587;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 4px; /* Optional: for rounded corners */
    font-size: 16px; /* Optional: for consistent font size */
}

button:hover, .download-btn:hover {
     background-color: black;
}

button {
    background-color: #515587;
}

.download-btn {
   background-color: #515587;
}

.store-btn{
     background-color: #515587;
}

.upload-btn {
    background-color: #515587;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    font-size: 16px;
}

.upload-btn:hover {
    background-color: black;
}

.upload-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fileLabel {
    font-size: 14px;
    color: #555;
}

.collection-btn.selected {
    background-color: black;
}

.collection-selector {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    margin-bottom: 20px; /* Space between selector and box */
    width: 200px; /* Adjust as needed */
    margin: auto; /* Center the selector */
    display: block; /* Makes it a block element */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

