<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>genies magic data dashboard</h1>
    <div class="container">
        <form method="GET" action="/">
            <select name="collection" onchange="this.form.submit()" class="collection-selector">
                {% for collection in collections %}
                    <option value="{{ collection }}" {% if collection == selected_collection %}selected{% endif %}>{{ collection }}</option>
                {% endfor %}
            </select>
        </form>
        <div class="box">
            <form method="POST" action="/?collection={{ selected_collection }}">
                <input type="text" name="item" placeholder="enter quote from {{ selected_collection }}" autocomplete="off">
                <div class="button-group">
                    <button class="store-btn" type="submit">store in cloud</button>
                    <input type="file" id="pdfUpload" name="pdfUpload" accept="application/pdf" style="display: none;" onchange="handleFileSelect(event, '{{ selected_collection }}')">
                    <label for="pdfUpload" class="upload-btn">upload PDF</label>
                    <button type="button" onclick="downloadCSV('{{ selected_collection }}')" class="download-btn">download CSV</button>
                    <span id="fileLabel"></span>
                </div>
            </form>
<!--            <h2>Number of Entries: {{ item_count }}</h2>-->
            <ul>
                {% for item in items %}
                    <li>{{ item.item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        function downloadCSV(collectionName) {
            window.location.href = `/download/${collectionName}`;
        }
        function handleFileSelect(event, collectionName) {
            var selectedFile = event.target.files[0];
            if (selectedFile) {
                var label = document.getElementById('fileLabel_' + collectionName);
                label.textContent = 'File selected: ' + selectedFile.name;
            }
        }

    </script>
</body>
</html>